<div class="container center error__404">
  <h2 class="neg title"><span class="blue">Error - 404</span></h2>
  <img
    src="https://media.giphy.com/avatars/YASHICADIGITAL/nXfJUWoZn4pi.gif"
    alt=""
  />
  <p>An error has occured, to continue:</p>
  <div>
    * Return to our homepage.<br />
    * Send us an e-mail about this error and try later.
    <p>
      <q
        >"I'm in my happy place. I'm in my happy place. I'm in my happy place.
        I'm in my happy place. I'm in my happy place. I'm in my happy place."</q
      >
    </p>
  </div>
  <a routerLink="/home" class="waves-effect waves-light btn orange darken-2"
    >Home</a>
</div>
